[run]
omit =
    # omit anything in a .local directory anywhere
    */.local/*
    # omit everything in /usr
    /usr/*
    # omit this single file
    utils/tirefire.py
    
    # Omit the venv.
    ~/src/github.com/dahlke/terrasnek/venv/*
    .venv/*
